html{
    background: #cf9570;
}

section{
    display: inline-block;
}
figure > img, figcaption{
    max-width: 400px;
}
.horizontal ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.horizontal a{
    background-color: #8c441c;
    color: #eddac0;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border: 1px solid black;
    font-size: 30px;
    
}
.horizontal li{
    float: left;
    width: 33%;
}

h1 {
    color: #f5e6d1;
    font-size: 2.2em;
}

img{
 clear: both;
}

footer {
    background-color: rgb(39, 33, 28);
}

footer a {
    text-decoration: none;
    color: #cf9570;
}

footer a:hover {
    text-decoration: underline;
    color: rgba(255, 124, 2, 0.801);
}